.ProseMirror,.content {
  code {
    @apply caret-white text-white  rounded-xs shadow-lg ;

    &::selection {
      @apply bg-white/30;
    }
  }

  pre {
    @apply caret-white bg-neutral-700 text-white rounded-sm my-12 p-4 border border-black dark:bg-neutral-900 dark:border-neutral-800;

    *::selection {
      @apply bg-white/20;
    }

    code {
      @apply   p-0 shadow-none;
    }

    .hljs-comment,
    .hljs-quote {
      @apply text-neutral-400;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      @apply text-redorange;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      @apply text-orange;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      @apply text-darkgreen;
    }

    .hljs-title,
    .hljs-section {
      @apply text-yellow;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      @apply text-blue;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}
